<footer>
    <div class="bottom-details">
        <div class="bottom_text">
            <div class="copyright_text">Copyright © 2021 <a href="#">combox</a></div>
            <div class="policy_terms">
                <div class="credit">Made with <span style="color:tomato">❤</span> by <a
                        href="https://www.github.com/maran1947">Abhishek Maran</a></div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>