<%- include("partials/header"); -%>

<header>
    <div class="hero_image">
        
    </div>
    <div class="headings">
        <h3>For Competetive Programmers</h3>
        <h2>One <span>Box</span> to track All Your Competetive Programming Profiles</h2>
        <a href="/track">Track</a>
    </div>
</header>

<%- include("partials/footer") -%>