
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: 0.8;
}

body {
    opacity: 1;
}

nav {
    padding: 10px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(6, 63, 63, 0.4);
    background: rgba(0, 55, 117, 0.8);
}

.username {
    border: 2px solid rgb(37, 0, 248);
    padding: 10px 0px;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px rgb(37, 0, 248);
}

nav .logo {
    border-bottom: 1px solid #00ccff;
    font-weight: 700;
}

nav .logo a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    list-style: none;
}

li {
    display: inline;
    margin: 5px 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_image {
    width: 400px;
    height: 300px;
    text-align: center;
    background-image: url('./cp_img.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 15px 0px;
    box-shadow: 5px 5px 5px #abe9f8af;
}

header .headings {
    text-align: center;
}

.headings h3 {
    font-weight: 300;
    font-size: 16px;
    margin: 4px;
}

.headings h2 {
    width: 300px;
    font-weight: 400;
    margin: 0px;
}

.headings h2 span {
    color:rgb(28, 24, 255);
    font-family: 'Pacifico',cursive;
}

.headings a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    color: #000;
    border: 1px solid #000;
}

.headings a:hover {
    box-shadow: 2px 5px 2px #000;
    transition: all 3ms;
}

.username {
    width: 60vw;
    margin: 10px auto;
    font-size: 16px;
    font-weight: 500;
}


/* form */ 
form {
    width: 360px;
    height: 400px;
	font-size: 16px;
	padding: 30px 30px 15px 30px;
    box-shadow: 2px 2px 4px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

form h2 {
    border-bottom: 2px solid #51E1ED;
}

form input, form select {
    display: block;
    outline: none;
    /* text-align: center; */
    padding: 5px 16px;
    border-radius: 50px;
}

form select {
    padding: 5px 48px;
    margin-bottom: 4px;
    border: 2px solid rgb(34, 34, 34);
}

form button {
    border-radius: 50px;
    background-color: #51E1ED;
    outline: none;
    border: none;
    padding: 8px 48px;
    margin: 10px 0px;
}

form button:hover {
    background: #000;
    color: #fff;
    transition: all 10ms;
}

.row {
    margin: 10px;
}


label {
    padding: 4px 4px 4px 0;
    display: inline-block;
}
input[type=text] {
    text-align: center;
}
input[type=text]:focus {
    outline: none;
}

.btn_add {
    border: none;
    background: linear-gradient(rgba(0, 140, 255, 0.4), rgba(0, 255, 255, 0.4));
    padding: 10px 100px;
    border-radius: 50px;
    float: right;
}

/* track box */
.track_box {
    width: 100%;
    text-align: center;
}

/* profile box start */
.codechef_box, .codeforces_box, .leetcode_box {
    width: 100%;
    margin: 10px auto;
}

.codechef_contests_box {
    margin: 0px auto;
}

.badge {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leetcode_badge {
    width: 80%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
}

.badge .small_card, .leetcode_badge .small_card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    box-shadow: 0px 0px 4px rgba(57, 59, 61, 0.4);
}

h2 {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.profile_box {
    width: 100%;
    margin: 40px 0px;
}

.contests {
    width: 100%;
}

.contests_box {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.single_contest {
    width: 200px;
    height: 200px;
    margin: 10px 20px;
    box-shadow: 0px 0px 4px rgba(57, 59, 61, 0.4);
    padding: 10px 20px;
}

p {
    text-align: start;
    font-weight: 400;
    margin: 5px 0px;
}

span {
    font-weight: 600;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(2, 60, 65, 0.774);
    color: #fff;
}

/* loader */
.loader {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }